<div class="row">
  <div class='loading-bar' *ngIf='!results'>
    <div class='loading-bar-element' *ngIf='progress != "finish"'>
    </div>
  </div>

 <h1  *ngIf='results' class='text-center'>Select a poll to see the results and vote</h1>
 <br>
  <div class="col-md-4 col-md-offset-4">   
    <div class="list-group" *ngFor="let result of displayedResult; let i = index">
      <a Mousehover [routerLink]="[result._id]" class="list-group-item text-center list_item" @itemState (@itemState.done)='onItemAnimated($event, i)'>{{  result.question }}</a>

    </div>

  </div>
</div>